:focus, a:focus, #reset:focus, .dropbtn:focus, .dropbtn-two:focus,
#sButton:focus, #pButton:focus {
  color: #9842f4;
  outline: none;
}

a, a:visited, a:active {
  text-decoration: none;
  outline: 0;
  border: none;
}

body, html {
  margin: 0;
  padding: 0;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 73px;
  background-color: #2a2a2b;
  color: white;
  min-width: 425px
}

.brand, #reset {
  background-color: inherit;
  color: inherit;
  height: 80px;
  width: 140px;
  border: none;
  font-family: 'Baloo Chettan', cursive;
  font-size: 2em;
}

#reset {
  width: 320px;
}

.LButton {
  justify-self: start;
  margin-left: 24px;
  padding-top: 17px;
}

.RButton {
  justify-self: end;
}

.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 233px 55px 49px 49px;
}

.logo {
  grid-column: 2 / 4;
  grid-row: 1;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2em;
  min-width: 425px;
  margin-top: 40px;
  justify-self: center;
}

.tomato {
  width: 50px;
}

.readout {
  grid-column: 2 / 4;
  grid-row: 2;
  font-family: 'Cutive Mono', monospace;
  font-size: 13em;
  justify-self: center;
  margin-top: 40px;
  letter-spacing: -40px;
  padding-right: 44px;
}

.timerMiddle {
  grid-column: 3;
  grid-row: 3;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1em;
  min-width: 150px;
  padding-left: 57px;
}

#breakText, #longBreakText {
  grid-column: 2;
  justify-self: end;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3em;
  padding-top: 4px;
  min-width: 216px;
  padding-right: 0;
}

#breakText {
  grid-row: 4;
}

#longBreakText {
  grid-row: 5;
}

#nextBreak, #nextLongBreak {
  grid-column: 3;
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  padding-left: 10px;
}

#nextBreak {
  grid-row: 4;
}

#nextlongBreak {
  grid-row: 5;
}

.break-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  padding-top: 10px;
}

.dropbtn, .dropbtn-two {
    background-color: #3c82f2;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.1em;
    border: 2px solid #3c82f2;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    word-spacing: 120px;
    line-height: 1.4;
    height: 78px;
}

.dropdown {
  justify-self: end;
}

.dropdown-two {
  justify-self: start;
}

.dropdown-content, .dropdown-content-two {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content, .dropdown-two:hover .dropdown-content-two {
    display: block;
}

.dropdown:hover .dropbtn, .dropdown-two:hover .dropbtn-two {
    background-color: #1d437f;
}

.dropdown-content button:hover, .dropdown-content-two button:hover {
  background-color: #f1f1f1
}

.dropdown-content button, .dropdown-content-two button  {
    color: black;
    padding: 12px;
    display: block;
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    min-width: 160px;
}

#start {
  display: grid;
  justify-content: center;
  margin-top: 33px;
}

#sButton, #pButton {
  background-color: #f71515;
  color: white;
  border: 1px solid #f71515;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 5em;
  width: 400px;
  height: 159px;
  border-radius: 29px;
}

#pButton {
  opacity: 0;
  grid-row: 2;
}

#sButton {
  opacity: 1;
  grid-row: 1;
}

#nextTime {
  padding-left: 15px;
}
